<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    https://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean id="address" class="com.cognizant.spring.Address">
 <constructor-arg index="0" value="H001"/>
 <constructor-arg index="1" value="Kolkata"/>
 <constructor-arg index="2" value="India"/>
  </bean>



  <bean id="student" class="com.cognizant.spring.Student">

    <constructor-arg type="java.lang.String" value="Ankana Basu"/>

 <constructor-arg type="com.cognizant.spring.Address" ref="address"/>

  </bean>

  <!-- more bean definitions go here -->
</beans>